h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    margin: 0;
    padding: 0;
    color: rgb(27, 40, 40);
    text-decoration: none;
}

body{
    background-color: rgba(0, 139, 139, 0.22);
    padding: 11px 4px;
    max-height: 100vh;
    max-width: 100vw;
}


/* SEARCH */
#inputCity{
    border: 1px solid rgb(0, 139, 139);
    max-width: fit-content;
    padding: 9px 22px;
    border-radius: 50px;
}

#inputCity #searchBar{
    margin: 0 auto;
    width: 20%;
}

#inputCity input {
    background-color: transparent;
    border: 0;
}

#inputCity input:focus-visible{
    outline: 1px solid rgba(0, 0, 0, 0);
}
/* SEARCH */

/* DATI */

#DatiContainer{
    height: 80vh;
    margin-top: 2%;
}

#topDati{
    height: 40%;
}
#topDati>div{
    margin: auto 0;
}

#bottomDati{
    height: 40%;
}

#graficoDataNextDays,
#graficoDataToday{
    padding: 3px 9px;
    border-radius: 6px;
    cursor: pointer;
}

#today, #containerGrafico{
    overflow-x: scroll;
}
#today::-webkit-scrollbar,
#containerGrafico::-webkit-scrollbar {
    height: 5px;
}
#today::-webkit-scrollbar-track,
#containerGrafico::-webkit-scrollbar-track {
    border-radius: 9px;
}
#today::-webkit-scrollbar-thumb,
#containerGrafico::-webkit-scrollbar-thumb {
    background-color: #0066ce;
    border-radius: 9px;
}

#nextDays #today #ore,
#collapseExample {
    background-color: rgba(0, 139, 139, 0.22);
    border-radius: 6px;
    padding: 12px;
}

#bottomDati #righttDati,
#nextDays,
#bigContainer,
#bottomDati #leftDati>div{
    padding: 18px;
    border-radius: 9px;
    background-color: rgba(0, 139, 139, 0.22);
    width: 100%;
}

#bottomDati #righttDati{
    height: 100%;
}

#bottomDati #leftDati{
    height: 100%;
}

#bottomDati #leftDati>div{
    height: 50%;
}

.sunset, .sunrise{
    font-size: 22px;
}

.rightSomeDati{
    width: 100%;
    border-bottom: 1px solid rgba(0, 139, 139, 0.7);
    display: flex;
    justify-content: space-between;
}
.rightSomeDati h6 span{
    font-weight: 400;
}

/* DATI */